<div class="container">
  <div class="idea-search">
    <h1>Search Ideas</h1>
    <button name="button-search">Search</button>
  </div>

  <h1>New Idea</h1>

  <form class="save-form">
    <%= text_field_tag :title, nil, placeholder: "Title", id: "title"%>
    <%= text_field_tag :body, nil, placeholder: "Description", id: "description" %>
    <button type="button" name="save-new-idea" id="save-btn" class="btn btn-default">Save</button>
  </form>

  <h1>Ideas</h1>

  <table  id="ideas-table">
    <tbody>
      <tr id="table-headings">
        <th>Title</th>
        <th>Body</th>
        <th>Quality</th>
        <th>Delete</th>
      </tr>
      <% @ideas.each do |idea| %>
      <tr id="table-data data<%= idea.id %>">
        <td> <%= idea.title %> </td>
        <td> <%= truncate(idea.body, length: 100, :separator => ' ')%></td>
        <td> <%= idea.quality_word %> </td>
        <td><a class="delete" id="<%= idea.id %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
